body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.max-w-500 {
    max-width: 500px;
}

.marginy-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marginb-20 {
    margin-bottom: 20px;
}

.monotype {
    font-family: monospace;
}

/*#registers {*/
/*    display: grid;*/
/*    grid-template-columns: min-content 1fr 1fr;*/
/*}*/

#registers input {
    width: 32px;
}

.memory-container {
    max-height: 400px;
    overflow-y: scroll;
}

.memory-container thead {
    position: sticky;
    top: 0;
    background: white;
}

.register-name {
    text-align: right;
}