body {
    display: flex;
}

.flex {
    display: flex;
}

.monotype {
    font-family: monospace;
}

/*#registers {*/
/*    display: grid;*/
/*    grid-template-columns: min-content 1fr 1fr;*/
/*}*/

#registers input {
    width: 32px;
}

.memory-container {
    max-height: 400px;
    overflow-y: scroll;
}

.memory-container thead {
    position: sticky;
    top: 0;
    background: white;
}

.register-name {
    text-align: right;
}